<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>laniakea42 to-do app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="style.css">
	<link rel="shortcut icon" href="favicon.ico">
</head>

<body>
	<header class="header">
		<h1>Simple to-do app</h1>
	</header>
	
	<main class="main">
		<div id="app" @click="hideContextMenu()">
			<ul id='taskList'>
				<li v-for='task in tasks' :class='{"strike": task.isCompleted}'>

					<input type="text" v-if='task.isEditing' id='editingInput' 
					@keyup.enter = 'editTask(task.text)' v-model = 'editValue'>

					<span v-else @click='task.isCompleted=!task.isCompleted'
					@contextmenu='showContextMenu'>

						<i class="fa fa-circle-thin" aria-hidden="true"  
						v-if='!task.isCompleted'></i>
						<i class="fa fa-check-circle" aria-hidden="true" 
						v-else></i>

						{{task.text}}
					</span>

					<button @click='removeTask(task.text)'>
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
					
					<button @click='changeEditing(task.text)'>
						<i class="fa fa-pencil" aria-hidden="true"></i>
					</button>
				</li>
			</ul>


			<p>
				<i class="fa fa-plus" aria-hidden="true"></i>
				<input type="textarea" @keyup.enter='addTask' id='addInput'
					v-model='currentTask' placeholder="add a task">
			</p>

			<ul id="context-menu">
				<li @click='removeTask()'>
					<i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete task
				</li>
			</ul>	
		</div>
	</main>

	<script src="https://use.fontawesome.com/d343edead5.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="script.js"></script>
</body>
</html>