* {
	vertical-align: baseline;
	font-size: 1.2rem;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
	}

@font-face {
	font-family: Simplifica;
	src: url(fonts/simplifica.ttf);
}
html {
	font-size: 16px;
}

body {
	font-family: 'Segoe UI', Helvetica, sans-serif;
	font-weight: 400;
	background-color: #d4cdc4; 
}

h1 {
	width: 80%;
	margin-right: auto;
	line-height: 1.2;
	font-family: Simplifica, Segoe, 'MS Sans Serif', sans-serif;
	font-size: 2em;
	font-weight: 500;
	padding: 0.3em 0 0.2em 0.8em;
	margin-top: 2vh;
	background-color: #d5a129;
	color: #fff;
	box-shadow: 1px 2px 5px 0px rgba(122,122,122,0.35);
}

#app {
	width: 80%;
	margin: 2rem auto 0 auto;
	height: 100vh;
	background-color: #f9f9f9;
	box-shadow: 1px 2px 5px 0px rgba(122,122,122,0.35);
}

.fa {color: #787132;}

.fa-plus {
	position: relative;
	left: 20px;
	z-index: 10;
}

.fa-times {display: none !important;}

.strike {text-decoration: line-through;}

#taskList > li {cursor: pointer;}

ul {
	list-style-type: none;
	margin-bottom: 0;
}

li {
	padding: 0.8rem;
	border-bottom: 1px solid rgba(120,113,50,0.35);
	margin: 0 10px;
	z-index: 13;
}

input { 
	width: 82%;
	display: inline-block;
	padding: 15px 10px 15px 33px;
	border-bottom: 1px solid rgba(120,113,50,0.35);
	margin-left: 10px;
	background-color: #f9f9f9;
	position: relative;
	left: -20px;
}

#editingInput {
	width: 70%;
	border-bottom: 0;
	padding: 0 0 0 36px;
	height: 22px;
}

button {
	background:transparent;
	border: 0;
	cursor: pointer;
	padding: 5px;
	float: right;
}

#context-menu {
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	display: none;
	list-style: none;
	position: absolute;
	z-index: 3;
	background-color: white;
	border: 1px solid #ebebeb;
	border-bottom-width: 0px;
	font-family: 'Segoe UI', Helvetica, sans-serif;
	box-shadow: 1px 2px 5px 0px rgba(122,122,122,0.35);
	cursor: pointer;
}

#context-menu.active {display: block;}


@media (max-width: 540px) {
	body {
		font-size: 0.8rem;
		background-color: #f9f9f9; 
	}
	h1 {
		width: 100%;
		margin-top: 0;
		font-size: 2em;
	}
	#app {
		width: 95%;
		box-shadow: none;
	}

	button {
		padding-left: 10px;
		float: right;
	}
	button:focus {outline: 0 !important;}

	input {width: 76%;}

	.fa-times {display: inline-block !important;}

	#editingInput{width: 55%;}
}

